<h1><%= nodeName %></h1>

<h4>Group: <%= group %></h4>
<div id= "pageContent">
	<p><%-pageContent%></p>

</div>

<div id= 'nodeInfoForm'>
	<form action="/addInfoToNodeInfoForm" method="post">
	<input type="hidden" value="<%= nodeName %>" name="name"/>
	<input type='hidden' value='<%= currentNet%>' name='net'/>
	<div>
		<p>Add a note</p>
		<input type="text" name="note"/>
	</div>

	<div>
		<input type = "submit" value = "Submit"/>
	</div>

	</form>
</div>		



